<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h2>Create new user:</h2>
<form action="/user" method="post">

    <label>
        Username: <br>
        <input name="username" type="text" placeholder="username">
        <br>
    </label>

    <label>
        Password: <br>
        <input name="password" type="text" placeholder="password">
        <br>
    </label>

    <button type="submit">create user</button>
</form>
<hr>
<br>
<br>
<br>

<h2>Login</h2>
<form action="/login">

    <label>
        Username: <br>
        <input name="username" type="text" placeholder="username">
        <br>
    </label>

    <label>
        Password: <br>
        <input name="password" type="text" placeholder="password">
        <br>
    </label>

    <button type="submit">login</button>
</form>




</body>
</html>